
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Work Sans, sans-serif;
    
}

header{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    flex-direction: row;
}

header a {
    display: flex;
    text-decoration: none;
    color:white;
    margin-left: 20px;
    align-items: center;
    font-size: 15px;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 4px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  }

  header i {
    margin-left: 8px;
  }

  
  header .logoForbes{
    display: flex;
    position: relative;
    height: 60px;
    font-weight:700;
    fill: #fff;
    pointer-events: none;
    color: inherit;
    cursor: pointer;
    left: 25%;
    font-family: work sans, sans-serif;
}
.logoForbes a {
    font-size: 35px;
}

header div.subscribe {
    display: flex;
    position: relative;
    left: 40%;
}


.CMynM-pI {
    align-items: center;
    align-self: center;
    background-color: #dc0000;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font: 700 15px / 15px Work Sans, sans-serif;
    height: 25px;
    justify-content: center;
    letter-spacing: -.2px;
    margin-right: 16px;
    outline: none;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
}


.login {
    align-items: stretch;
    color: #fff;
    font: 15px Work Sans, sans-serif;
    letter-spacing: .5px;
    margin-right: 32px;
    padding: 0;
    text-align: start;
    background-color: black;
    border: black;
    cursor: pointer;
    position: relative;
    left: 40%;
}

.fas {
    position: relative;
    left: 40%;
}


.textNews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:20px;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 90px;
    border: transparent 1px;
    font-size: smaller;
}


.text1 {
    flex-basis: 20%;
    margin-right: 20px;
}

.text1 span{
    background-color: #dc0000;
    color: white;
}
.text2 {
    flex-basis: 20%;
    margin-right: 20px;
}
.text3 {
    flex-basis: 20%;
    margin-right: 20px;  
}
.text4 {
    flex-basis: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    height: 800px;
    justify-content: center;
}

.textNews a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 600;
}

.boxImg {
    flex-basis: 60%;
}

.boxNews {
    flex-basis: 10%;
    margin-left: 20px;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: medium;
}
div p { 
    margin-left: 120px;
    margin-top:0;
}

.boxImg a{
    font-family: work sans, sans-serif;
    text-decoration: none;
    display: block;
    font: 700 20x / 30px Merriweather, GeorgiaCustom;
    color: inherit;
    cursor: pointer;
    -webkit-text-decoration-skip: objects;
    background-color: #0000;
    text-align: center;
}


button {
    background: #007ac8;
    border-color: #007ac8;
    color: #fff;
    letter-spacing: normal;
    text-shadow: none;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    border-radius: 8px;
    border-color: transparent;
    font: 120 10px / 12px Work Sans, sans-serif;
    height: 30px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}



.menImag { 
    display: flex;
    font-family: work sans, sans-serif;
}


text {
    flex-basis: 70%;
}

.menImag2 { 
    display: flex;
    font-family: work sans, sans-serif;
}

.boxNews a {
    text-decoration: none;
    color: black;
}
